# dependencies
node_modules

# next build output
.next
out

# env files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Prisma
prisma/dev.db
prisma/dev.db-journal
generated/prisma

# Misc
*.log
